<h1>Welcome to simutrans collaborative</h1>

<% if flash[:notice] -%>  <p class="notice"><%= flash[:notice] %></p>  <% end -%>  <% if flash[:error] -%>  <p class="error"><%= flash[:error] %></p>  <% end -%> 

<p>More to come here later</p>

<h1>User management</h1>
<% if current_user %>
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Register", new_user_path %> |
  <%= link_to "Login", login_path %>
<% end %>
